---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game.astro';
import Nav from '../components/nav.astro';
import data from "../json/games.json";
import ddata from "..//json/deg.json"; 
---

<main style="z-index: 100;">
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2779999647710891"
 crossorigin="anonymous"></script>
    </head>
    <Layout title="Ghost">
        <Nav />
        <center>
            <br />
            <p class="ex2" style="animation: fadeIn 1s;">Ga<x>me</x>s</p>
            <p>
                You can request games on the <a
                    href="https://discord.gg/dbyDXfs5dN"
                    >Dis<x>co</x>rd serv<x>er</x></a
                >
            </p>
            <center>
                <script type='text/javascript' is:inline src='//pl25533607.profitablecpmrate.com/d2/c0/09/d2c00916f17b63e473989f767d1082ff.js'></script>
                <script async="async" is:inline data-cfasync="false" src="//pl25527333.profitablecpmrate.com/d00b3b529c7e75cacbb98e16680c5373/invoke.js"></script>
                <div class="gcontainer">
                    {data.map((data: { name: string; href: string; img: string; }) => <Game name={data.name} href={data.href} img={data.img} />)}
                {ddata.map((ddata: { name: string; href: string; img: string; }) => <Game name={ddata.name} href={"window.location.href = '" + ddata.href + "'"} img={ddata.img} />)}
            </div>
            <div id="container-d00b3b529c7e75cacbb98e16680c5373"></div>
        </center>
        </center>
    </Layout>
</main>
