---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game.astro';
import Nav from '../components/nav.astro';
import data from "../json/games.json";
import ddata from "../json/deg.json"; 
---

<main>
    <Layout title="Ghost">
        <head>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8983108696361501"
         crossorigin="anonymous"></script>
        </head>
        <Nav />
        <center>
            <br />
            <p class="ex2" style="animation: fadeIn 1s;"><x>G</x>a<x>m</x>e<x>s</x></p>
            <p>
                You can request on the <x>G</x>a<x>m</x>e<x>s</x> <a
                    href="https://discord.gg/dbyDXfs5dN"
                    >D<x>i</x>s<x>co</x>rd<x> ser</x>v<x>er</x></a
                >
            </p>
            <center>
                <div class="gcontainer">
                    {data.map((data: { name: string; href: string; img: string; }) => <Game name={data.name} href={`e('${data.href}')`} img={data.img} />)}
                {ddata.map((ddata: { name: string; href: string; img: string; }) => <Game name={ddata.name} href={`window.location.href = '${ddata.href}'`} img={ddata.img} />)}
            </div>
        </center>
        </center>
        <script is:inline>
            //load inline as is so it doesnt break anything
         function e(url) {
                localStorage.setItem("url", __uv$config.prefix + __uv$config.encodeUrl(url)); window.location.href = "/edu/";
            }
        </script>
    </Layout>
    <audio src="" id="audio" controls autoplay hidden transition:persist transition:name="media-player"></audio>
</main>
